@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This page is written completely in HTML and JavaScript and everything is client side so no one will see your location except for when the Google map is generated, Google will see the route. You can check the source of the website.</p>
